<ion-view hide-nav-bar='true'>
  <ion-header-bar>
    <h1 class="title">Détails d'une dépense</h1>
    <button class="button button-assertive" ng-click="goBack()">BACK</button>
  </ion-header-bar>
  <ion-content>
    <ion-item class=" item-text-wrap" ng-repeat="expense in account.expenses | filter:myFilter">
      <div class="row">
        <div class="col">
          <h2>Payer</h2>
          <hr>
          <br>
          <h3>{{expense.payer}}</h3>
        </div>
        <div class="col">
          <h2>ForWhom</h2>
          <hr>
          <br>
          <h2 ng-repeat="receiver in expense.forwhom">{{receiver}}</h2>

        </div>
        <div class="col">
          <h2>Cost /Person</h2>
          <hr>
          <br>
          <h2 ng-repeat="receiver in expense.forwhom">{{expense.cost/expense.forwhom.length}} {{account.devise}}</h2>

        </div>
        </div>
        <hr>
      <div class="flexAround">
        <button class="button button-assertive" ng-click="deleteExpense(expense)">
          Effacer Dépense</button>
      </div>
        </ion-item>
  </ion-content>
</ion-view>
