<ion-view hide-nav-bar='true'>
  <ion-content>

<ion-list>
        <div>
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                Balance

          </ion-item>
          <ion-item class="item-accordion" ng-repeat="participant in account.participants" ng-show="isGroup2Shown(group2)">
            {{participant.name}} <span>{{participant.balance > 0?   'is owed':'owes'}}</span>
            <span ng-class="participant.balance > 0? 'balanceGreen': 'balanceRed' "> {{participant.balance}} {{account.devise}}</span>
          </ion-item>
        </div>
      </ion-list>
      <ion-list>
              <div>
                <ion-item class="item-stable"
                          ng-click="toggleGroup2(group2)"
                          ng-class="{active: isGroup2Shown(group2)}">
                    <i class="icon" ng-class="isGroup2Shown(group2) ? 'ion-minus' : 'ion-plus'"></i>
                  Qui doit de l'argent à qui ?
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="participant in account.participants" ng-show="isGroupShown(group)">
                  {{participant.name}} <span ng-show="participant.balance > 0">  is owed {{participant.balance}}  {{account.devise}}</span>
                  <ul ng-show="participant.balance < 0">
                    <li ng-repeat="debt in participant.debts">owes  {{debt.amount}} to {{debt.personToPayBack}} !</li>
                  </ul>
                </ion-item>
              </div>
            </ion-list>

  </ion-content>
</ion-view>
