
<ion-tabs class="tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}">
  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/accountCreate" hidden="true">
    <ion-nav-view name="tab-accountCreate"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dashboard" hidden="true">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>
  <!-- Depense Tab -->
  <ion-tab title="Dépenses" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/depenses">
    <ion-nav-view name="tab-depenses"></ion-nav-view>
  </ion-tab>

  <!-- Balance Tab -->
  <ion-tab title="Balance" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/balance">
    <ion-nav-view name="tab-balance"></ion-nav-view>
  </ion-tab>

  <!-- Config Tab -->
  <ion-tab title="Config" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>


</ion-tabs>
